body {
    background-color: #160635;
    height: 100%;
    margin: 0 auto;
    cursor: url("assets/sprites/pointer.png"), default;
}

canvas {
    margin: 0 auto;
    margin-top: 1%;
    cursor: url("assets/sprites/pointer.png"), default;
}
